.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  width: 100%;
  text-align: center;
}

.app-header img {
  height: 100px;
}

.graph-component-container {
  width: 100%;
  height: 100%;
}

.graph-component-container .yfiles-canvascomponent {
  width: 100%;
  height: 100%;
}

.demo-content {
  position: absolute;
  /* top: 0;*/
  top: 50px;
  left: 320px;
  right: 320px;
  bottom: 0;
}
.demo-header {
  position: absolute;
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
  background-color: #242265;
  color: white;
}
.demo-y-logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  border-color: transparent;
}
.demo-header a {
  display: inline-block;
  height: 60px;
  text-decoration: none;
  color: white;
  line-height: 60px;
  padding: 0 5px;
  vertical-align: top;
  font-size: 1.5em;
}
.demo-title {
  display: inline-block;
  padding: 0 5px 0 30px;
  height: 60px;
  line-height: 60px;
  color: white;
  cursor: default;
  font-size: 1.5em;
  letter-spacing: 1px;
  background: url('./assets/header-angle.svg') no-repeat 5px 50%;
  background-size: 20px 20px;
  vertical-align: top;
}
.demo-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  box-sizing: border-box;
  background: #f7f7f7;
  z-index: 15;
  line-height: 150%;
  overflow-y: auto;
}
.demo-sidebar.left {
  left: 0;
}
.demo-sidebar.right {
  right: 0;
}
@media screen and (max-height: 500px) {
  .demo-header {
    height: 30px;
    font-size: 10px;
  }
  .demo-header .demo-y-logo {
    height: 30px;
    line-height: 30px;
  }
  .demo-header a {
    height: 30px;
    line-height: 30px;
  }
  .demo-title {
    height: 30px;
    line-height: 30px;
  }
}

