 @import '../../assets/icons/icons.css';
.separator {
  height: 24px;
  width: 1px;
  min-width: 1px;
  background: white;
  opacity: 0.5;
  display: inline-block;
  margin: 0 8px;
}

.spacer {
  flex-grow: 1;
}

.toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  button {
    display: inline-block;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    background-size: 20px;
    height: 48px;
    width: 48px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
  .labeled {
    color: white;
  }
}

.search {
  line-height: 20px;
  padding: 8px;
  font-size: 16px;
  letter-spacing: normal;
  width: 300px;
  &:focus {
    outline: none;
  }
}
